@media (min-width: 1025px) {
  .footer {
    background: $second__dark-navy;
    &__container {
      padding-top: 35px;
      padding-bottom: 32px;
      @include df-row-between-center;
    }
    &__ul {
      @include df-row-center-center;
      gap: 20px;
    }
    &__a-text {
      color: $white;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    &__social {
      @include df-row-center-center;
      gap: 20px;
    }
    &__left-box{
      @include df-row-center-center;
      gap: 30px;
    }
  }
}
@media (width: 1024px) {
  .footer {
    background: $second__dark-navy;
    &__container {
      padding-top: 35px;
      padding-bottom: 32px;
      @include df-row-around-center;
    }
    &__ul {
      padding-right: 200px;
      @include df-row-center-center;
      gap: 15px;
    }
    &__a-text {
      color: $white;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    &__social {
      @include df-row-center-center;
      gap: 20px;
    }
    &__left-box{
      @include df-row-center-center;
      gap: 30px;
    }
  }
}
@media (width: 820px) {
  .footer {
    background: $second__dark-navy;
    &__container {
      padding-top: 35px;
      padding-bottom: 32px;
      @include df-row-around-center;
    }
    &__ul {
      padding-right: 150px;
      @include df-row-center-center;
      gap: 15px;
    }
    &__a-text {
      color: $white;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    &__social {
      @include df-row-center-center;
      gap: 20px;
    }
    &__left-box{
      @include df-row-center-center;
      gap: 30px;
    }
  }
}
@media (width: 768px) {
  .footer {
    background: $second__dark-navy;
    &__container {
      padding-top: 35px;
      padding-bottom: 32px;
      @include df-row-around-center;
    }
    &__ul {
      padding-left: 30px;
      @include df-row-center-center;
      gap: 15px;
    }
    &__a-text {
      color: $white;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    &__social {
      @include df-row-center-center;
      gap: 20px;
    }
    &__left-box{
      @include df-row-center-center;
      gap: 30px;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    background: $second__dark-navy;
    &__container {
      padding-top: 64px;
      padding-bottom: 88px;
      @include df-column-center-center;
    }
    &__ul {
      padding-top: 24px;
      padding-bottom: 28px;
      @include df-column-center-center;
      gap: 15px;
    }
    &__a-text {
      color: $white;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__social {
      @include df-row-center-center;
      gap: 20px;
    }
  }
}
