.listed {
  margin-top: 60px;
  &__container {
    @include df-row-center-center;
    gap: 20px;
  }
  &__title {
    width: 351px;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: $dark__navy;
  }
  &__text {
    width: 445px;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
  }
  &__btn {
    @include template__button;
  }
}
@media (max-width: 1024px) {
  .listed {
    margin-top: 60px;
    &__container {
      @include df-column-center-center;
      gap: 20px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      text-align: center;
      color: $dark__navy;
    }
    &__text {
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__btn {
      @include template__button;
    }
  }
}
@media (max-width: 767px) {
  .listed {
    margin-top: 60px;
    &__container {
      @include df-column-center-center;
      gap: 20px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.43px;
      text-align: center;
      color: $dark__navy;
    }
    &__text {
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__btn {
      @include template__button;
    }
  }
}
