@media (min-width: 1025px) {
  .mobility {
    margin-top: 100px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      top: 320px;
      right: 0;
      width: 735px;
      height: 151px;
      background-image: url("../../icons/era__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      top: 0;
      right: 0;
      width: 101px;
      height: 445px;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-row-between-center;
      gap: 20px;
    }
    &__left-box {
      @include df-column-start-start;
      gap: 20px;
    }
    &__title {
      width: 457px;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      text-align: start;
      color: $dark__navy;
    }
    &__text {
      width: 573px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: start;
    }
    &__img {
      margin-right: 35px;
      width: 495px;
      height: 495px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 1024px) {
  .mobility {
    margin-top: 100px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      top: 250px;
      right: 0;
      width: 735px;
      height: 151px;
      background-image: url("../../icons/era__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      top: 0;
      right: 0;
      width: 101px;
      height: 445px;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-reverse-center-center;
      gap: 20px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 20px;
    }
    &__title {
      width: 457px;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      text-align: center;
      color: $dark__navy;
    }
    &__text {
      width: 573px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__img {
      width: 495px;
      height: 495px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 767px) {
  .mobility {
    margin-top: 100px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      top: 150px;
      right: 0;
      width: 349px;
      height: 151px;
      background-image: url("../../icons/era__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before {
      position: absolute;
      content: "";
      display: none;
      top: 0;
      right: 0;
      width: 101px;
      height: 445px;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-reverse-center-center;
      gap: 20px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 20px;
    }
    &__title {
      width: 311px;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.43px;
      text-align: center;
      color: $dark__navy;
    }
    &__text {
      width: 311px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__img {
      width: 311px;
      height: 311px;
      border-radius: 50%;
    }
  }
}
